<launch>
  <arg name="hrp_ns" default="/hrp/" />
  <arg name="cmd_vel_topic" default="/cmd_vel" />

  <rosparam command="load" file="$(find social_compliance_layer)/cfg/behavior_parameters.yaml" />

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <remap from="odom" to="$(arg hrp_ns)odom" />
    <remap from="cmd_vel" to="$(arg cmd_vel_topic)" />
    <param name="TebLocalPlannerROS/odom_topic" value="$(arg hrp_ns)odom" />
    <rosparam file="$(find oru_ipw_navigation)/config/move_base.yaml" command="load" />
    <rosparam file="$(find oru_ipw_navigation)/config/costmap/common.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find oru_ipw_navigation)/config/costmap/common.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find oru_ipw_navigation)/config/costmap/local.yaml" command="load" />
    <rosparam file="$(find oru_ipw_navigation)/config/costmap/global.yaml" command="load" />
    <rosparam file="$(find oru_ipw_navigation)/config/planner/global_planner.yaml" command="load" />
    <rosparam file="$(find oru_ipw_navigation)/config/planner/local_planner.yaml" command="load" />
  </node>
</launch>
